.root {
  @apply font-serif;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;

  position: relative;
  background: #f9f5ff;
  border-radius: 16px;
  mix-blend-mode: screen;
  font-weight: 600;
}

.primary {
  @apply bg-primary-50 text-primary-900;
}
.error {
  @apply bg-error-50 text-error-900;
}
.warning {
  @apply bg-warning-50 text-warning-900;
}
.success {
  @apply bg-success-50 text-success-900;
}
