@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pinkPurpleGradientText {
    background: linear-gradient(135deg, #fab2ff 0%, #1904e5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .whiteGradientOverlay {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -2.13%;
    bottom: 0%;
    pointer-events: none;
    background: conic-gradient(
      from 126.97deg at -3.01% 4.36%,
      rgba(255, 255, 255, 0) -0.18deg,
      rgba(217, 217, 217, 0.18) 95.62deg,
      rgba(217, 217, 217, 0.1) 180deg,
      rgba(255, 255, 255, 0) 359.82deg,
      rgba(217, 217, 217, 0.18) 455.63deg
    );
  }
}

.heroBanner-text-gradient {
  /* or 120% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  background: linear-gradient(135deg, #fab2ff 0%, #1904e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @media only screen and (max-width: 768px) {
    font-size: 36px;
  }
}
