.AccordionChevron {
  transition: transform 300ms;
}
.AccordionTrigger {
  @apply flex w-full flex-row items-center justify-between rounded-lg px-3 py-2 text-white;
  background: conic-gradient(
    from 126.97deg at -3.01% 4.36%,
    rgba(255, 255, 255, 0) -0.18deg,
    rgba(217, 217, 217, 0.18) 95.62deg,
    rgba(217, 217, 217, 0.1) 180deg,
    rgba(255, 255, 255, 0) 359.82deg,
    rgba(217, 217, 217, 0.18) 455.63deg
  );
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

.whiteGradientOverlay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: -2.13%;
  bottom: 0%;
  pointer-events: none;
  background: conic-gradient(
    from 126.97deg at -3.01% 4.36%,
    rgba(255, 255, 255, 0) -0.18deg,
    rgba(217, 217, 217, 0.18) 95.62deg,
    rgba(217, 217, 217, 0.1) 180deg,
    rgba(255, 255, 255, 0) 359.82deg,
    rgba(217, 217, 217, 0.18) 455.63deg
  );
}
